body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header styles (you can include your existing header styles here) */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.form {
    width: 300px;
    margin: 0 auto;
}

.form input {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ctaa-button {
    background-color: #FFC107;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #FFD54F;
}

.form p {
    margin-top: 20px;
}

.form a {
    color: #FFC107;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}
