/* Footer styles */

footer {
    background-color: #23262d;
    padding: '20 0 px';
    color: #fff;
    flex: 1;
}

.container {
    margin-left: 50px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #f6d601;
}


.footer-content p {
    margin: 0;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: white;
}

.footer-content h3 {
    flex: 1;
}